
client_secrets.json
Excel Sheets/mycreds.txt
Excel Sheets/config.py
Excel Sheets/quickstart.py
Excel Sheets/settings.yaml.txt
Excel Sheets/__pycache__/config.cpython-38.pyc
quickstart.py
*.csv
__pycache__/variable.cpython-38.pyc
Excel Sheets/getFolderID.py
Excel Sheets/getFolderIDSchedule.py
test.py
Player Data/getFolderIDPlayer.py
Player Data/mycreds.txt
Player Data/Career/getFolderIDCareer.py
Player Data/Career/getFolderIDCareerSchedule.py
Player Data/Season/mycreds.txt
Player Data/Season/getFolderIDPlayerSchedule.py
masterFileUpload.py
mycreds.txt
masterFileUploadSchedulePi.py
masterFileUploadSchedule.py
